  {% block content %}
    <div class="main">
 <main
      class="container"
      style="display: flex; flex-direction: column; align-items: center; padding: 0; margin: 0;"
    >
      <!-- Video Section -->
      <article>
        <!-- use logo.png as poster image -->
        <div id="loading" class="loading"><div class="loading-spinner"></div></div>
        <video id="animation" src="static/biolimitless.mp4" muted autoplay playsinline loop></video>
        <video id="avatarVideo" autoplay playsinline></video>
      </article>

      <!-- Controls Section -->
      <section>
        <button id="startSession" class="session-toggle">Start Session</button>
      <section role="group">
          <input
            type="text"
            id="userInput"
            placeholder="Type something to talk to the avatar..."
            aria-label="User input"
          />
          <button id="speakButton" role="button">Send</button>
      </section>
    <div>&nbsp;</div>
    <div class="box">
      <div class="object" id="record">
        <div class="outline"></div>
        <div class="outline" id="delayed"></div>
        <div class="button"></div>
        <div class="button" id="circlein">
          <svg
            class="mic-icon"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 1000 1000"
            enable-background="new 0 0 1000 1000"
            xml:space="preserve"
            style="fill:#ffffff"
          >
            <g>
              <path
                d="M500,683.8c84.6,0,153.1-68.6,153.1-153.1V163.1C653.1,78.6,584.6,10,500,10c-84.6,0-153.1,68.6-153.1,153.1v367.5C346.9,615.2,415.4,683.8,500,683.8z M714.4,438.8v91.9C714.4,649,618.4,745,500,745c-118.4,0-214.4-96-214.4-214.4v-91.9h-61.3v91.9c0,141.9,107.2,258.7,245,273.9v124.2H346.9V990h306.3v-61.3H530.6V804.5c137.8-15.2,245-132.1,245-273.9v-91.9H714.4z"
              />
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="captions" id="captions" style="display:none;">
      <span></span>
    </div>

    </main>

        <chat-ai sessionid="{{ log_id }}" style="height: 50vh !important;" agent_name="{{ agent_name }}"></chat-ai>
    </div>

  <script type="module" src="/mr_heygen/static/node_modules/livekit-client/streaming-a/lib/index.esm.js"></script> 
  <script type="module" src="/mr_heygen/static/node_modules/@heygen/streaming-avatar/lib/index.esm.js"></script>
  <script type="module" src="/mr_heygen/static/node_modules/@deepgram/sdk/dist/module/index.js"></script>
  <script type="module" src="/mr_heygen/static/tts.js"></script>
  <script type="module" src="/mr_heygen/static/main.js"></script>
    
    {% endblock %}

