{% block content %}
  <div class="main" id="mainContainer" >
    <!-- <div id="debug-overlay2">DEBUG READY</div> -->
    <main class="stackv">
      <video id="avatarVideo" autoplay playsinline></video>
      <button id="startSession" class="session-toggle">Load Avatar</button>
      <chat-ai id="chatAi" auto-size-input="true" hide-chat-log="true" sessionid="{{ log_id }}" agent_name="{{ agent_name }}" style="margin-top: 0;"></chat-ai>
    </main>
  </div>

{% endblock %}
